infra/aws/step_functions/jpcite_credit_orchestrator.json
{
  "Comment": "jpcite credit run orchestrator (2026-05, max-parallel deep manifests). Runs ALL 7 J0X jobs (J01..J07) concurrently in a single Parallel state with MaxConcurrency=7, each submitting to AWS Batch on Fargate Spot using the jpcite-crawl-heavy job definition (16 vCPU / 32 GB) against the deep manifests (2,726 total URLs across 7 jobs). Targets $4-6K/day burn for a 3-5 day full drain of the AWS sponsorship. On any Catch (branch failure / parallel failure / aggregate write failure), emit CloudWatch metric jpcite/credit:CatchInvocations (Count=1, dims=CatchSource+RunId) — alarm jpcite-credit-catch-invocations-alarm fan-outs to SNS so SF no longer depends on email-subscription confirmation. Success-path final notify still uses SNS (cross-region from us-east-1 cost-alerts pipeline). After parallel completion, write run-level aggregate pointer JSON to S3 and emit a final SNS so operator can trigger scripts/aws_credit_ops/aggregate_run_ledger.py for the credit_run_ledger_2026_05.json roll-up. Tagged Project=jpcite CreditRun=2026-05 AutoStop=2026-05-29. [lane:solo]",
  "StartAt": "Parallel_J01_through_J07",
  "TimeoutSeconds": 432000,
  "States": {
    "Parallel_J01_through_J07": {
      "Type": "Parallel",
      "Comment": "Effective MaxConcurrency=7 — all 7 J0X branches run fully concurrently (Parallel state has no concurrency cap, every branch starts together).",
      "ResultPath": "$.parallel_result",
      "Branches": [
        {
          "StartAt": "J01_deep_source_profile_sweep",
          "States": {
            "J01_deep_source_profile_sweep": {
              "Type": "Task",
              "Resource": "arn:aws:states:::batch:submitJob.sync",
              "Parameters": {
                "JobName": "jpcite-credit-J01-deep-src-profile",
                "JobQueue": "arn:aws:batch:ap-northeast-1:993693061769:job-queue/jpcite-credit-fargate-spot-short-queue",
                "JobDefinition": "arn:aws:batch:ap-northeast-1:993693061769:job-definition/jpcite-crawl-heavy",
                "ContainerOverrides": {
                  "Environment": [
                    { "Name": "JPCITE_JOB_ID", "Value": "J01_deep_source_profile_sweep" },
                    { "Name": "JPCITE_MANIFEST_S3", "Value": "s3://jpcite-credit-993693061769-202605-reports/manifests/J01_deep_source_profile_sweep.json" },
                    { "Name": "JPCITE_CREDIT_RUN", "Value": "2026-05" },
                    { "Name": "AWS_REGION", "Value": "ap-northeast-1" }
                  ]
                }
              },
              "Retry": [
                {
                  "ErrorEquals": ["Batch.AWSBatchException", "States.TaskFailed"],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 1,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "J01_Failed_Notify",
                  "ResultPath": "$.error"
                }
              ],
              "End": true
            },
            "J01_Failed_Notify": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
              "Parameters": {
                "Namespace": "jpcite/credit",
                "MetricData": [
                  {
                    "MetricName": "CatchInvocations",
                    "Value": 1,
                    "Unit": "Count",
                    "Dimensions": [
                      {"Name": "CatchSource", "Value": "J01_deep_source_profile_sweep"},
                      {"Name": "RunId", "Value.$": "$$.Execution.Name"}
                    ]
                  }
                ]
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "J02_deep_nta_houjin_full",
          "States": {
            "J02_deep_nta_houjin_full": {
              "Type": "Task",
              "Resource": "arn:aws:states:::batch:submitJob.sync",
              "Parameters": {
                "JobName": "jpcite-credit-J02-deep-nta-houjin",
                "JobQueue": "arn:aws:batch:ap-northeast-1:993693061769:job-queue/jpcite-credit-fargate-spot-short-queue",
                "JobDefinition": "arn:aws:batch:ap-northeast-1:993693061769:job-definition/jpcite-crawl-heavy",
                "ContainerOverrides": {
                  "Environment": [
                    { "Name": "JPCITE_JOB_ID", "Value": "J02_deep_nta_houjin_full" },
                    { "Name": "JPCITE_MANIFEST_S3", "Value": "s3://jpcite-credit-993693061769-202605-reports/manifests/J02_deep_nta_houjin_full.json" },
                    { "Name": "JPCITE_CREDIT_RUN", "Value": "2026-05" },
                    { "Name": "AWS_REGION", "Value": "ap-northeast-1" }
                  ]
                }
              },
              "Retry": [
                {
                  "ErrorEquals": ["Batch.AWSBatchException", "States.TaskFailed"],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 1,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "J02_Failed_Notify",
                  "ResultPath": "$.error"
                }
              ],
              "End": true
            },
            "J02_Failed_Notify": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
              "Parameters": {
                "Namespace": "jpcite/credit",
                "MetricData": [
                  {
                    "MetricName": "CatchInvocations",
                    "Value": 1,
                    "Unit": "Count",
                    "Dimensions": [
                      {"Name": "CatchSource", "Value": "J02_deep_nta_houjin_full"},
                      {"Name": "RunId", "Value.$": "$$.Execution.Name"}
                    ]
                  }
                ]
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "J03_deep_nta_invoice_full",
          "States": {
            "J03_deep_nta_invoice_full": {
              "Type": "Task",
              "Resource": "arn:aws:states:::batch:submitJob.sync",
              "Parameters": {
                "JobName": "jpcite-credit-J03-deep-nta-invoice",
                "JobQueue": "arn:aws:batch:ap-northeast-1:993693061769:job-queue/jpcite-credit-fargate-spot-short-queue",
                "JobDefinition": "arn:aws:batch:ap-northeast-1:993693061769:job-definition/jpcite-crawl-heavy",
                "ContainerOverrides": {
                  "Environment": [
                    { "Name": "JPCITE_JOB_ID", "Value": "J03_deep_nta_invoice_full" },
                    { "Name": "JPCITE_MANIFEST_S3", "Value": "s3://jpcite-credit-993693061769-202605-reports/manifests/J03_deep_nta_invoice_full.json" },
                    { "Name": "JPCITE_CREDIT_RUN", "Value": "2026-05" },
                    { "Name": "AWS_REGION", "Value": "ap-northeast-1" }
                  ]
                }
              },
              "Retry": [
                {
                  "ErrorEquals": ["Batch.AWSBatchException", "States.TaskFailed"],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 1,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "J03_Failed_Notify",
                  "ResultPath": "$.error"
                }
              ],
              "End": true
            },
            "J03_Failed_Notify": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
              "Parameters": {
                "Namespace": "jpcite/credit",
                "MetricData": [
                  {
                    "MetricName": "CatchInvocations",
                    "Value": 1,
                    "Unit": "Count",
                    "Dimensions": [
                      {"Name": "CatchSource", "Value": "J03_deep_nta_invoice_full"},
                      {"Name": "RunId", "Value.$": "$$.Execution.Name"}
                    ]
                  }
                ]
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "J04_deep_egov_law_full",
          "States": {
            "J04_deep_egov_law_full": {
              "Type": "Task",
              "Resource": "arn:aws:states:::batch:submitJob.sync",
              "Parameters": {
                "JobName": "jpcite-credit-J04-deep-egov-law",
                "JobQueue": "arn:aws:batch:ap-northeast-1:993693061769:job-queue/jpcite-credit-fargate-spot-short-queue",
                "JobDefinition": "arn:aws:batch:ap-northeast-1:993693061769:job-definition/jpcite-crawl-heavy",
                "ContainerOverrides": {
                  "Environment": [
                    { "Name": "JPCITE_JOB_ID", "Value": "J04_deep_egov_law_full" },
                    { "Name": "JPCITE_MANIFEST_S3", "Value": "s3://jpcite-credit-993693061769-202605-reports/manifests/J04_deep_egov_law_full.json" },
                    { "Name": "JPCITE_CREDIT_RUN", "Value": "2026-05" },
                    { "Name": "AWS_REGION", "Value": "ap-northeast-1" }
                  ]
                }
              },
              "Retry": [
                {
                  "ErrorEquals": ["Batch.AWSBatchException", "States.TaskFailed"],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 1,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "J04_Failed_Notify",
                  "ResultPath": "$.error"
                }
              ],
              "End": true
            },
            "J04_Failed_Notify": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
              "Parameters": {
                "Namespace": "jpcite/credit",
                "MetricData": [
                  {
                    "MetricName": "CatchInvocations",
                    "Value": 1,
                    "Unit": "Count",
                    "Dimensions": [
                      {"Name": "CatchSource", "Value": "J04_deep_egov_law_full"},
                      {"Name": "RunId", "Value.$": "$$.Execution.Name"}
                    ]
                  }
                ]
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "J05_deep_jgrants_full",
          "States": {
            "J05_deep_jgrants_full": {
              "Type": "Task",
              "Resource": "arn:aws:states:::batch:submitJob.sync",
              "Parameters": {
                "JobName": "jpcite-credit-J05-deep-jgrants",
                "JobQueue": "arn:aws:batch:ap-northeast-1:993693061769:job-queue/jpcite-credit-fargate-spot-short-queue",
                "JobDefinition": "arn:aws:batch:ap-northeast-1:993693061769:job-definition/jpcite-crawl-heavy",
                "ContainerOverrides": {
                  "Environment": [
                    { "Name": "JPCITE_JOB_ID", "Value": "J05_deep_jgrants_full" },
                    { "Name": "JPCITE_MANIFEST_S3", "Value": "s3://jpcite-credit-993693061769-202605-reports/manifests/J05_deep_jgrants_full.json" },
                    { "Name": "JPCITE_CREDIT_RUN", "Value": "2026-05" },
                    { "Name": "AWS_REGION", "Value": "ap-northeast-1" }
                  ]
                }
              },
              "Retry": [
                {
                  "ErrorEquals": ["Batch.AWSBatchException", "States.TaskFailed"],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 1,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "J05_Failed_Notify",
                  "ResultPath": "$.error"
                }
              ],
              "End": true
            },
            "J05_Failed_Notify": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
              "Parameters": {
                "Namespace": "jpcite/credit",
                "MetricData": [
                  {
                    "MetricName": "CatchInvocations",
                    "Value": 1,
                    "Unit": "Count",
                    "Dimensions": [
                      {"Name": "CatchSource", "Value": "J05_deep_jgrants_full"},
                      {"Name": "RunId", "Value.$": "$$.Execution.Name"}
                    ]
                  }
                ]
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "J06_deep_ministry_pdf_full",
          "States": {
            "J06_deep_ministry_pdf_full": {
              "Type": "Task",
              "Resource": "arn:aws:states:::batch:submitJob.sync",
              "Parameters": {
                "JobName": "jpcite-credit-J06-deep-ministry-pdf",
                "JobQueue": "arn:aws:batch:ap-northeast-1:993693061769:job-queue/jpcite-credit-fargate-spot-short-queue",
                "JobDefinition": "arn:aws:batch:ap-northeast-1:993693061769:job-definition/jpcite-crawl-heavy",
                "ContainerOverrides": {
                  "Environment": [
                    { "Name": "JPCITE_JOB_ID", "Value": "J06_deep_ministry_pdf_full" },
                    { "Name": "JPCITE_MANIFEST_S3", "Value": "s3://jpcite-credit-993693061769-202605-reports/manifests/J06_deep_ministry_pdf_full.json" },
                    { "Name": "JPCITE_CREDIT_RUN", "Value": "2026-05" },
                    { "Name": "AWS_REGION", "Value": "ap-northeast-1" }
                  ]
                }
              },
              "Retry": [
                {
                  "ErrorEquals": ["Batch.AWSBatchException", "States.TaskFailed"],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 1,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "J06_Failed_Notify",
                  "ResultPath": "$.error"
                }
              ],
              "End": true
            },
            "J06_Failed_Notify": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
              "Parameters": {
                "Namespace": "jpcite/credit",
                "MetricData": [
                  {
                    "MetricName": "CatchInvocations",
                    "Value": 1,
                    "Unit": "Count",
                    "Dimensions": [
                      {"Name": "CatchSource", "Value": "J06_deep_ministry_pdf_full"},
                      {"Name": "RunId", "Value.$": "$$.Execution.Name"}
                    ]
                  }
                ]
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "J07_deep_gbizinfo_full",
          "States": {
            "J07_deep_gbizinfo_full": {
              "Type": "Task",
              "Resource": "arn:aws:states:::batch:submitJob.sync",
              "Parameters": {
                "JobName": "jpcite-credit-J07-deep-gbizinfo",
                "JobQueue": "arn:aws:batch:ap-northeast-1:993693061769:job-queue/jpcite-credit-fargate-spot-short-queue",
                "JobDefinition": "arn:aws:batch:ap-northeast-1:993693061769:job-definition/jpcite-crawl-heavy",
                "ContainerOverrides": {
                  "Environment": [
                    { "Name": "JPCITE_JOB_ID", "Value": "J07_deep_gbizinfo_full" },
                    { "Name": "JPCITE_MANIFEST_S3", "Value": "s3://jpcite-credit-993693061769-202605-reports/manifests/J07_deep_gbizinfo_full.json" },
                    { "Name": "JPCITE_CREDIT_RUN", "Value": "2026-05" },
                    { "Name": "AWS_REGION", "Value": "ap-northeast-1" }
                  ]
                }
              },
              "Retry": [
                {
                  "ErrorEquals": ["Batch.AWSBatchException", "States.TaskFailed"],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 1,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "J07_Failed_Notify",
                  "ResultPath": "$.error"
                }
              ],
              "End": true
            },
            "J07_Failed_Notify": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
              "Parameters": {
                "Namespace": "jpcite/credit",
                "MetricData": [
                  {
                    "MetricName": "CatchInvocations",
                    "Value": 1,
                    "Unit": "Count",
                    "Dimensions": [
                      {"Name": "CatchSource", "Value": "J07_deep_gbizinfo_full"},
                      {"Name": "RunId", "Value.$": "$$.Execution.Name"}
                    ]
                  }
                ]
              },
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Parallel_Failed_Notify",
          "ResultPath": "$.error"
        }
      ],
      "Next": "Aggregate_Run_Manifest"
    },
    "Parallel_Failed_Notify": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
      "Parameters": {
        "Namespace": "jpcite/credit",
        "MetricData": [
          {
            "MetricName": "CatchInvocations",
            "Value": 1,
            "Unit": "Count",
            "Dimensions": [
              {"Name": "CatchSource", "Value": "Parallel_J01_through_J07"},
              {"Name": "RunId", "Value.$": "$$.Execution.Name"}
            ]
          }
        ]
      },
      "ResultPath": "$.parallel_notify",
      "Next": "Aggregate_Run_Manifest"
    },
    "Aggregate_Run_Manifest": {
      "Type": "Pass",
      "Comment": "Compose run-level pointer payload from all 7 parallel branch outputs. Each Batch job is expected to PutObject run_manifest.json under its output_prefix; the downstream Task writes a run-level pointer to the reports bucket. Final SNS announces aggregation readiness — operator runs scripts/aws_credit_ops/aggregate_run_ledger.py for the credit_run_ledger_2026_05.json roll-up.",
      "Parameters": {
        "RunId.$": "$$.Execution.Name",
        "StartedAt.$": "$$.Execution.StartTime",
        "Jobs": {
          "J01.$": "States.JsonToString($.parallel_result[0])",
          "J02.$": "States.JsonToString($.parallel_result[1])",
          "J03.$": "States.JsonToString($.parallel_result[2])",
          "J04.$": "States.JsonToString($.parallel_result[3])",
          "J05.$": "States.JsonToString($.parallel_result[4])",
          "J06.$": "States.JsonToString($.parallel_result[5])",
          "J07.$": "States.JsonToString($.parallel_result[6])"
        }
      },
      "ResultPath": "$.aggregate_payload",
      "Next": "Write_Aggregate_Manifest"
    },
    "Write_Aggregate_Manifest": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
      "Parameters": {
        "Bucket": "jpcite-credit-993693061769-202605-reports",
        "Key.$": "States.Format('aggregate_manifests/{}.json', $$.Execution.Name)",
        "Body.$": "States.JsonToString($.aggregate_payload)",
        "ContentType": "application/json",
        "Tagging": "Project=jpcite&CreditRun=2026-05&AutoStop=2026-05-29"
      },
      "ResultPath": "$.aggregate_write_result",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Aggregate_Write_Failed_Notify",
          "ResultPath": "$.error"
        }
      ],
      "Next": "Final_Notify_Aggregation_Ready"
    },
    "Aggregate_Write_Failed_Notify": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
      "Parameters": {
        "Namespace": "jpcite/credit",
        "MetricData": [
          {
            "MetricName": "CatchInvocations",
            "Value": 1,
            "Unit": "Count",
            "Dimensions": [
              {"Name": "CatchSource", "Value": "Write_Aggregate_Manifest"},
              {"Name": "RunId", "Value.$": "$$.Execution.Name"}
            ]
          }
        ]
      },
      "Next": "Final_Notify_Aggregation_Ready"
    },
    "Final_Notify_Aggregation_Ready": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ap-northeast-1:993693061769:jpcite-credit-cost-alerts-apne1",
        "Subject": "jpcite credit run COMPLETE — run scripts/aws_credit_ops/aggregate_run_ledger.py for credit_run_ledger_2026_05.json",
        "Message.$": "States.JsonToString($.aggregate_payload)"
      },
      "End": true
    }
  }
}
